<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='src/css/custom.css')}}">
    <title>Register</title>
    <!-- Add your stylesheet link or include Bootstrap or other styling frameworks here -->
</head>
<body>

	<div class="hero min-h-screen">
		<div class="card w-96 bg-base-100 shadow-xl">

			<div class="card-body">
				<div role="alert" class="alert text-sm" {% if not get_flashed_messages() %}style="display: none;" {%
					endif %}>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class="text-center">
				
						<li>{{ messages[-1] }}</li>
					
					</ul>
					{% endif %}
					{% endwith %}
				</div>
				<h2 class="text-center text-xl font-bold my-5">OTA FIRMWARE MANAGER</h2>
				
                <form method="post" action="{{ url_for('auth.register') }}">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="input input-bordered w-full max-w-xs" required>
            
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="input input-bordered w-full max-w-xs" required>
            
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="input input-bordered w-full max-w-xs" required>
            
                    <button type="submit" class="btn btn-sm mt-5">Register</button>
                </form>
            
                <p class="text-center">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
			</div>
		</div>
	</div>


<!-- Add your JavaScript or additional styling here -->

</body>
</html>
